@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    background-color:#1C2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
   margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover{
  background-color: #566573;
}
nav ul li:first-child a{
    background-color: #566573;
}
#click{
    display: none;
}
.menu-btn{
    color:white;
    font-size: 22px;
    cursor:pointer;
    display: none;
}

@media only screen and (max-width:940px){
    nav ul{
        position: fixed;
        background-color: #17202A;
        left: -100%;
        top:80px;
        height: 100vh;
        width:100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }
    nav ul li{
        margin:50px 0;
    }
    nav ul li a{
        font-size: 22px;
        
    }
    nav ul li a:hover,nav ul li:first-child a{
        background: none;
        color: red;
    }
    #click:checked + .menu-btn i::before{
        content: "\f00d";
    }
    #click:checked ~ ul{
       left: 0;
    }
    .menu-btn{
        display: block;
    }
    
}
/*header section code star*/
header{
    height: 90vh;
    background-image: url(images/No-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* first section of main tag code star*/
#first-section{
    background-color: #16213E;
}
#service-parent{
    width:1100px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    padding-bottom: 100px;
}
.single-service{
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    border:3px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-service i{
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0;
    font-weight: bold;
}
#first-section > h2{
    text-align: center;
    color:white;
    padding:50px 0;
    letter-spacing: 0.2em;
    font-weight: 28px;
}
/*first section media star*/
@media only screen and (max-width:688px){
    #service-parent{
        width:100%;
      
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
}
@media only screen and (min-width:689px) and (max-width:1099px){
    #service-parent{
        width:100%;
       
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
    }
}